html {
  background-color: black;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0b0c10;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #111827;
  border-radius: 10%;
}

.auth-container h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #9ca3af;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  
}

input {
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #1f2937;
  border: none;
  color: #f1f5f9; 
  border-radius: 10px;
}

input::placeholder {
  color: #9ca3af;
}

input:focus {
outline: none;
box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.4); 

}

.auth-button {
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #6366f1, #8b5cf6);
}

.error {
  color: red;
  font-weight: bold;
  margin: 0.5rem 0;
}

.auth-container p {
  margin-top: 1rem;
  font-size: 0.9rem;
    color: #9ca3af;

}

.auth-container a {
  color: #60a5fa;
  text-decoration: none;
}
