.chat-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    gap: 5px;
    background: rgb(61, 61, 81);
    color: #1b1f23;
    padding: 24px;
    box-sizing: border-box;
}

.chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: .75rem;
    overflow: hidden;
    background: #1e1e2f;
    min-height: 0;
    width: 100%;
}

.chat-output {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    background: rgb(90, 90, 90);
    border-radius: 10px;
    padding: 1rem;
    color: rgb(140, 191, 218);

}

.chat-composer {
    display: flex;
    gap: .5rem;
    background: rgb(90, 90, 90);
    border-radius: 10px;
    padding: .5rem;
}

.composer-input {
    flex: 1;
    height: 42px;
    border-radius: 8px;
    padding: 0 .75rem;
    background: rgb(61, 61, 61);
    color: rgb(140, 191, 218);
    outline: none;

}

.send-button {
    height: 42px;
    padding: 0 1rem;
    border-radius: 8px;
    background: #7881ff;
    cursor: pointer;
    width: 100px;
}