.sidenav {
    width: 250px;
    min-height: 100%;
    background-color: #1e1e2f;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 47, 47);
    width: 100%;
    border-radius: 10%;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
}

.user-name {
    color: rgb(140, 191, 218);
    font-size: 20px;
}

.profile-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, #6366f1, #8b5cf6);
}

.logout-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    background: linear-gradient(to right, #f16368, #8b5cf6);

}